@page
@model App.Web.Pages.IndexModel
@{
    ViewData["Title"] = "Home";
}

<article class="px-5 py-3">
    <h1 class="display-4">Testing ASP.NET Core</h1>
    <p>
        This solution gives common patterns for testing 
        a 3-Layered monolith ASP.NET 10 Razor Pages solution.
    </p>
</article>
