<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <title>@ViewData["Title"]</title>

    <!-- ??? -->
    <script type="importmap"></script>

    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DotNetCore.Testing.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar bg-body-tertiary">
          <div class="container-fluid px-5 py-3">
            <a class="navbar-brand" asp-page="/Index">
                <strong>Testing</strong>.NET
            </a>
            <p class="nav navbar-text">
                @User.Identity?.Name
            </p>
          </div>
        </nav>
    </header>

    <main role="main">
        @RenderBody()
    </main>
</body>
</html>
